/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: inline-block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

body {
  background-color: #272c34;
}
body .index-section .background-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  width: 86vw;
  height: 650px;
}
body .index-section .background-text h1 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 30vw;
  line-height: 7vw;
  color: #34383e;
}
body .index-section .section-div {
  position: absolute;
  display: flex;
}
body .index-section .section-div .main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-wrap: wrap;
  margin-left: 5.5vw;
  margin-right: 2vw;
}
body .index-section .section-div .main-text h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 6vw;
  line-height: 7vw;
  color: #f7e6d3;
}
body .index-section .section-div .main-text h4 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 2vw;
  line-height: 4vw;
  color: #ffffff;
}
body .index-section .section-div .main-text .usd-p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 3vw;
  line-height: 5vw;
  color: #eb1b24;
}
body .index-section .section-div .main-text .button-div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
body .index-section .section-div .main-text .button-div p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
body .index-section .section-div .main-text .button-div .button1 {
  border: solid 1px transparent;
  background-color: #eb1b24;
}
body .index-section .section-div .main-text .button-div .button2 {
  border: solid 1px white;
  margin: 0px 15px;
}
body .index-section .section-div .main-text .button-div div {
  border-radius: 25px;
  padding: 10px 20px;
  width: 110px;
  margin-top: 15px !important;
}/*# sourceMappingURL=styles.css.map */