body {
  @extend %my-container;
  background-color: #272c34 !important;

  .index-header {
    margin-top: 25px;
    .mynav {
        background-color: #272c34 !important;

        .icon-image {
            margin-right: 25px;
            margin-left: 5vw
        }

        .header-icons {
            margin-left: 40vw;

            i {
                font-size: 30px;
                color: white;
                margin: 0px 10px;
            }    
        }
    }
  }

  .index-section {
    .background-text {
      @include goFlex(row, center, center);
      position: absolute;
      width: 86vw;
      height: 650px;

      h1 {
        @include robotoFont(Roboto, 900, 30vw, 7vw);
        color: #34383e;
      }
    }

    .section-div {
      position: absolute;
      display: flex;

      .main-text {
        @include goFlex(column, center, left);
        margin-left: 5.5vw;
        margin-right: 2vw;
        h2 {
          @include robotoFont(Roboto, 700, 6vw, 7vw);
          color: #f7e6d3;
        }

        h4 {
          @include robotoFont(Roboto, 300, 2vw, 4vw);
          color: #ffffff;
        }

        .usd-p {
          @include robotoFont(Roboto, 400, 3vw, 5vw);
          color: #eb1b24;
        }

        .button-div {
          @include goFlex(row, left, center);

          p {
            @include robotoFont(Roboto, 400, 12px, 18px);
            color: #ffffff;
            margin-bottom: 0px;
          }

          .button1 {
            border: solid 1px transparent;
            background-color: #eb1b24;
          }

          .button2 {
            border: solid 1px white;
            margin: 0px 15px;
          }

          div {
            border-radius: 25px;
            padding: 10px 20px;
            width: 110px;
            margin-top: 15px !important;
          }
        }
      }
    }
  }
}
